*{
    margin: 0%;
    padding: 0%;
}
.images{
    height: 50px;
    width: 50px;
    margin-left: 60px;
}
.div-box1{
    height: 30px;
    width: 100px;
    border-radius: 50px;
    border: 2px solid grey;
    margin-left: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images1{
    height: 13px;
}
.main-1{
    background-color: #ECE8D9;
}
#main-sub1{
    background-color: #ECE8D9;
}
#navbar-nav1{
    margin-left: 300px;
}
#tra{
    width: 60px;
    color: white;
}
.sub-div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.main-div1{
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
}
.images2{
    height: 400px;
    width: 500px;
}
.styling{
    color: rgb(56, 74, 98);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4.5em;
}
#tri{
    border: none;
    height: 90px;
    width: 600px;
}
.btn1{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    margin-left: -60px;
    margin-top: 0px;
}
.sub1{
    background-color: white;
    padding: auto;
    padding-left: 50px;
    width: 100%;
}
.susb{
    display: flex;
    /* width: 80%; */
}
#container-fluid{
    margin-left: -12.2px;
}
#trap{
    height: 450px;
    width: 250px;
    margin-top: 50px;
    margin-left: 50px;
}
#trap1{
    height: 450px;
    width: 250px;
    margin-left: 50px;
    margin-top: 50px;
}
.youn{
    height: 50%;
    width: 100%;
}
.pics{
    width: 250px;
    height: 100%;
}
.pics:hover{
    transform: scale(1.05);
}
.sub5{
    padding: 15px;
}
.toyyib{
    margin-top: 100px;
    margin-left: 50px;
}
.stip{
    color: rgb(56, 74, 98);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#stip{
    color: rgb(80, 102, 131);
    font-weight: bold;
    font-size: 1.2em;
}
.Group_61_h8vxko{
    width: 90%;
}
.section2-div1{
    width: 100%;
    border-bottom: rgb(237, 246, 253) 50px solid;
    padding-top: 70px;
    background-color: rgb(237, 246, 253);
}
.font{
    /* width: 100%; */
    margin-top: 80px;
    /* margin: 0%; */
}
#comment{
    height: 165px;
    margin-left: 70px;
    width: 345px;
    margin-right: -30px;
    margin-top: 20px;
    border-radius: 9px;
    display: flex;
    border:  thin solid rgb(235, 234, 234);
    background-color: white;
}
#container-fluid1{
    padding-left: 40px;
}
#comments{
    height: 165px;
    margin-left: 70px;
    margin-right: -30px;
    width: 345px;
    margin-top: 20px;
    border-radius: 9px;
    display: flex;
    border:  thin solid rgb(235, 234, 234);
    background-color: white;
}
.svg{
    margin-top: 22px;
    margin-left: 10px;
}
.section2-div2{
    width: 100%;
    padding-top: 100px;
    background-color: white;
}
#contact{
    height: 165px;
    margin-left: 70px;
    width: 345px;
    margin-right: -30px;
    margin-top: 20px;
    border-radius: 9px;
    display: flex;
    background-color: white;
}
#contacts{
    height: 165px;
    margin-left: 70px;
    margin-right: -30px;
    width: 345px;
    margin-top: 20px;
    border-radius: 9px;
    display: flex;
    background-color: white;
}
.svg1{
    margin-top: 14px;
    margin-left: 10px;
}
.section2-div3{
    background-color: rgb(247, 246, 244); 
    padding: 100px;
    padding-top: 85px;
    
}
.body_div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section2-div4{
    background-color: rgb(236, 232, 217);
    padding: 100px;
    padding-left: 160px;
}
.balck{
    color: rgb(56, 74, 98);
    font-weight: bold;
    font-size: 1.5em;
    /* font-size: 20px; */
    margin-bottom: 25px;
}
.form{
    display: flex;
    /* justify-content: space-around; */

}
#input{
    border: none;
    width: 8.1cm;
    height: 2cm;
    font-weight: bold;
    color: rgb(176, 184, 194);
    font-size: 1.05em;
}
#input2{
    border: none;
    width: 16.3cm;
    height: 2cm;
    font-weight: bold;
    color: rgb(176, 
    184, 194);
    font-size: 1.05em;
}
#input1{
    width: 150px;
    font-weight: bold;
    font-size: 1.05em;
    margin-left: -185px;
    margin-top: 8px;
    height: 1.6cm;
    width: 4.3cm;
    border: none;
    background-color:rgb(56, 74, 98);
    color: white;
}
#d-flex1{
    margin-left: 15px;
}
.section2-div5{
    background-color: rgb(56, 74, 98);
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding: 100px;

    flex-wrap: wrap;
}
footer{
    height: 2.3cm;
    background-color: rgb(203, 202, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h6 {
    color: rgb(80, 102, 131);
}
.head{
    color: white;
    margin-bottom: 12px;
    font-size: 1.3em;
    font-weight: bold;

}
a.a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: .9em;
}
.sty{
    margin-bottom: 4px;
}
.sty1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head1{
    margin-top: 25px;
    color: white;
    margin-bottom:12px;
    font-size: 1.3em;
    font-weight: bold;
}
.ime{
    width: 175px;
}
.sty11{
    margin-top: -7px;
}
